
<div class ="bar-graphs">
        <div class = "graph"></div>
        <div class = "graph"></div>
        <div class = "graph"></div>
        <div class = "graph"></div>
      </div>

      <div class="button-container">
        <div class="timePeriod">
          <label>
            <input id="day" name="timePeriod" type="radio" value="day" checked=""/> Day
          </label>
          
          <label>
            <input id="week" name="timePeriod" type="radio" value="week"/> Week
          </label>
          
          <label>
            <input id="month" name="timePeriod" type="radio" value="month"/> Month
          </label>

          <label>
            <input id="year" name="timePeriod" type="radio" value ="year" /> Year
          </label>

          <label>
            <input id="calendar" name="timePeriod" type="radio" value ="calendar" /> Calendar
          </label>
        </div>
      </div>