{%- for p in site.projects -%}
    <div class="project-card">
        <h1 class="project-title"> {{ p.project-title }}</h1>
        <h2 class="project-subtitle">{{ p.project-subtitle }}</h2>
        <h2 class="project-type"> {{ p.project-type }} </h2>
        <p class="project-description"> {{ p.content }}</p>
        <p class="project-type"> {{ p.project-collaborators }} </p>
        {%- for link in p.links -%}
        <a href="{{ link-address }}"> </a> 
        {%- endfor -%}
    </div>
{%- endfor -%}
