<header class="research-header">

  <div class="header-wrapper">
    <div class="research-page-nav-wrapper">
        <div class="research-page-nav-box">
            <div class="research-page-link-box">
                <a class="site-title" rel="author" href="{{ "/" | relative_url }}">Home Graphic</a>
                <a class="research-page-link" href="/Projects/SSPI/"> SSPI </a>
                <a class="research-page-link"> Wildfire Smoke</a>
                <a class="research-page-link"> Air Quality Policy </a>
            </div>
        </div>
    </div>
  </div>
</header>
