<div class="research-title-box">
    <h1 id="SSPI-title"> Sustainable Shared-Prosperity Index </h1>
    <p id="SSPI-credits"> Clair Brown, Ekaterina Federova, Tristan Misko, et al. </p>
</div>
<div class="sectionbox">
    <h2 class="sectiontitle">What is the SSPI?</h2>
    <p> The Sustainable Shared-Prosperity Index uses data to quantify the extent to which country policy protects and promotes the well-being of people and the planet.  </p>
</div>
<div class="sectionbox">
    <h2 class="sectiontitle">Contributions to the SSPI</h2>
</div>
<div class="sectionbox">
</div>
