/** Stylesheet for blogs*/


.post-header {
    margin-top: 20px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin-top: 5px;
        font-size: 16pt;
        font-style: italic;
    }
    ul {
        list-style: none;
    }
}

.blog-feed-page {
    margin-top: 150px;
    h2 {
        color: $homepage-font-color;
    }
    .blog-post-link {
        width: clamp(400px, 90%, 500px);
    }
}

.blog-content {
    font-family: "Roboto";
    padding: 30px 60px;
    overflow: hidden;
    max-width: 750px;
    color: $homepage-font-color;
    overflow-wrap: break-word;
    h2 {
        font-size: 18pt;
        margin: 15px 0px 3px 0px;
    }

    h3 {
        font-size: 14pt;
        margin: 10px 0px 5px 0px;
    }
    p {
        font-size: 13.5 pt;
        margin: 2px;
    }
    p + p {
        text-indent: 30px;
    }
    
    blockquote {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footnotes {
        border-top: solid $homepage-font-color;
        margin-top: 15px;
        padding-top: 15px;
        ol {
            color: $homepage-accent-color;
            li > p {color: $homepage-font-color}
        }
    }

    sup > a {
        text-decoration: none;
    }
    .reversefootnote {
        text-decoration: none;
    }

}
