// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-family: "courier-new-webfont";
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

a {
    color: $homepage-accent-color;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

.homepage-content::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../../../cb.svg");
    background-repeat: repeat-y;
    background-size: clamp(100%, 1200pt, 1200pt);
    opacity: 0.15;
    min-height: 100vh;
}

.homepage-content {
    position: relative;
    background-color: $homepage-background-color;
    min-height: 100vh;
}


.homepage-card {
    color: $homepage-font-color;
    scroll-snap-align: start;
    scroll-snap-type: y proximity;
    display: flex;
    justify-content: center;
    padding: 30px 60px;
    overflow: hidden;
    align-items: center;

    .homepage-link {
        position: relative;
        color: $homepage-accent-color;
        text-decoration: none;
    }
    h2, h3 {
        margin-top: 15px;
        margin-bottom: 3px;
    }
}

// Resume Button

.resume-button {
    position: absolute;
    color: $homepage-accent-color;
    padding: 7px 7px 4px 7px;
    font-size: 14pt;
    top: 30px;
    right: 40px;
    border-radius: 5px;
    border: 1px solid $homepage-accent-color;
}

.site-header {
    text-align: center;
    width: 100%;
    font-size: 30pt;
    a {
        text-decoration: none;
        color: $homepage-font-color;
    }

    a:hover {
        transform: scale(1.03);
        transition: 0.13s ease;
    }
}

.resume-button:hover {
    transform: scale(1.02);
    transition: 0.15s ease;
}

#greeting-card {
    height: 100vh;
    h1 {
        text-align: left;
    }
}

ul {
    position: relative;
    margin: 5px 0px;
    padding-left: 20px;
}

p {
    line-height: 1.25;
}

.about-me-navbox {
    display: flex;
    justify-content: space-between;
    font-size: 15pt;
    margin: 15px 0px;
}

.info-container {
    max-width: 600px;
    font-size: clamp(12pt, 1.3vw, 16pt);
    p + p {
        text-indent: 30px;
    }
}

.about-button {
    border: none;
    color: $homepage-font-color;
    background-color: rgba(0,0,0,0);
    font-size: 14pt;
    &:hover {
        transform: scale(1.04);
        transition: 0.15s ease;
    }
    font-family: "Courier New";
}

// Project Styling

#projects-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.grid-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-flex-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.project-card {
    position: relative;
    margin: 10px;
    width: clamp(100px, 90%, 400px);
    overflow: hidden;
    background-color: $project-card-color;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px 3px rgba(1,1,1,0.3);
}

.project-footer {
    font-size: 8pt;
    border-top: $homepage-font-color solid 0.01em;
    padding-top: 10px;
    margin-top: 10px;
}

.project-linkbox {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    width: 100%;
}

.project-title {
    text-align: left;
    font-size: 110%;
    margin: 5pt 0pt;
}

.project-subtitle {
    font-size: 100%;
}

.project-type {
    font-size: 10pt;
}

// Blog stylings


.blog-link {
    color: $homepage-font-color;
    text-decoration: none;
}

.blog-list {
    list-style: none;
    padding: 0px;
    h1, h2, h3 {
        color: $homepage-accent-color;
        margin: 0px;
    }
}





.blog-post-link {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: $project-card-color;
    box-shadow: 5px 5px 5px 3px rgba(1,1,1,0.3);
}

.blog-post-link:hover {
    transform: scale(1.05);
    transition: 0.15s ease;
}


.post {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.blog-content {
    padding: 30px 50px;
    overflow: hidden;
    max-width: 750px;
    color: $homepage-font-color;
    font-size: clamp(14pt, 14pt, 14pt);
    overflow-wrap: break-word;
    h2 {
        font-size: 18pt;
        margin: 15px 0px 3px 0px;
    }

    h3 {
        font-size: 14pt;
        margin: 10px 0px 5px 0px;
    }
    p {
        font-size: 14pt;
        margin: 2px;
    }
    p + p {
        text-indent: 30px;
    }
    
    blockquote {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footnotes {
        border-top: solid $homepage-font-color;
        margin-top: 15px;
        padding-top: 15px;
        ol {
            color: $homepage-accent-color;
            li > p {color: $homepage-font-color}
        }
    }

    sup > a {
        text-decoration: none;
    }
    .reversefootnote {
        text-decoration: none;
    }

}

.post-header {
    margin-top: 20px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin-top: 5px;
        font-size: 16pt;
        font-style: italic;
    }
    ul {
        list-style: none;
    }
}



.social-media-list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  width: 100%;
}

.svg-icon {
  width: 16px;
  height: 16px;
  margin: 0px 30px;
  fill: $homepage-font-color;
  transform-origin: center;
  scale: 1.8;
  &:hover {fill:$homepage-accent-color}
}

.email-link {
    color :$homepage-accent-color;
}

.blog-feed-page {
    margin-top: 150px;
    h2 {
        color: $homepage-font-color;
    }
    .blog-post-link {
        width: clamp(400px, 90%, 90%);
    }
}
