// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

ul {
  position: relative;
  margin: 5px 0px;
  padding-left: 20px;
  line-height: 1.25;
}

/**
* Basic styling
*/
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-family: "Roboto";
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  box-sizing: border-box;
  background-color: $homepage-background-color;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background-color: $homepage-background-color;
}

a {
  color: $homepage-accent-color;
}
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

.page-content {
  box-sizing: border-box;
}

/** page-background styling */
.ios-peek {
  position: fixed;
  z-index: -3;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: $homepage-background-color;
}

h1 {
  font-family: "Courier Prime";
  font-size: 1.7em;
}
h2, h3 {
  font-family: "IBM Plex Mono";
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 3px;
}

p, ul {
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.4;
}

.homepage-link {
  position: relative;
  color: $homepage-accent-color;
  text-decoration: none;
}

/** homepage styling */
.homepage-card {
  color: $homepage-font-color;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
  min-height: clamp(500px, 100vh, 100vh);
  box-sizing: border-box;
  margin-bottom: 2em;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 0 1em;
}

.resume-button {
  font-family: "Courier Prime";
  position: absolute;
  color: $homepage-accent-color;
  padding: 7px 7px 4px 7px;
  font-size: clamp(1rem, 5vw, 1.4rem);
  top: 25px;
  right: 25px;
  border-radius: 5px;
  border: 1px solid $homepage-accent-color;
  text-decoration: none;
}

.resume-button:hover {
  transform: scale(1.02);
  transition: 0.15s ease;
}

/** Headers about me, quasioptimal, and contact me */
.site-header {
  font-family: "Courier Prime";
  font-weight: normal;
  text-align: center;
  width: 100%;
  font-size: 1.7em;
  padding-top: 0.5em;
}
.site-header a {
    text-decoration: none;
    color: $homepage-font-color;
}

#about {
  min-height: 900px;
}

.site-header a:hover {
    color: $homepage-accent-color;
}

/** custom styling for greeting page */
#greeting-card h1 {
  font-family: "Courier Prime";
  font-weight: normal;
  text-align: left;
}

#greeting-card p {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}
#greeting-card ul {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  padding-left: 1.5em;
}
#greeting-card .social-media-list {
  padding: 0;
}

#greeting-card .name-title-ascii {
  // background-color: #111111;
  box-sizing: border-box;
  font-size: clamp(0.4rem, 2.4vw, 1rem);
  padding: 0.5em;
  margin: 0.5em auto 0.5em;
  border-radius: 0.5em;
}



#about-card h2, #about-card h3 {
  margin-top: 15px;
}

.about-me-navbox {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.info-container {
  max-width: 600px;
  min-width: 0;
  box-sizing: border-box;
}
.info-container p + p {
  text-indent: 30px;
}

.about-button {
  border: none;
  cursor: pointer;
  color: $homepage-font-color;
  background-color: rgba(0,0,0,0);
  font-size: clamp(12pt, 1.5vw, 16pt);
  font-family: "Courier Prime";
}

.about-button:hover {
  transform: scale(1.04);
  transition: 0.15s ease;
}

/** Project Box and Card Styling */
/** Implement Project Type filter buttons using the about buttons */
#projects-card {
  flex-direction: column;
  margin-bottom: 0;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 15px;
  padding: clamp(5px, 2vw, 2rem);
  box-sizing: border-box;
}

.project-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/** Internal card styling */
.project-flex-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.project-card ul li {
  list-style: none;
}

.project-card li::marker {
  content: ">  ";
  margin: 0 0.2em;
  color: $homepage-accent-color;
}
.project-card .project-linkbox li::marker {
  content: "";
}


.project-modal-parent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 3;
  display: none;
  place-items: center;
}


.project-card {
  all: unset;
  transform: translate(0, 0) scale(1);
  min-width: 0;
  position: relative;
  background-color: $project-card-color;
  font-size: 0.9em;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px 3px rgba(1,1,1,0.3);
  box-sizing: border-box;
  z-index: 2;
}

.hidden-project {
  display: none;
}


.project-card.project-modal {
  position: relative;
  max-width: 550px;
  max-width: min(550px, 85%);
  overflow-y: scroll;
  max-height: 93%;
  z-index: 4
}

html.using-mouse .project-card:hover:not(.project-modal):not(:has(.project-linkbox li:hover)),
html.using-keyboard .project-card:focus-visible {
  transform: translate(1px, 1px) scale(1.002);
  transition: transform 0.03s ease;
  cursor: pointer;
  border: solid 1px $homepage-accent-color;
}

.show-more {
  width: 90%;
  margin: 0.5em auto;
  border: none;
  background: none;
  color: $homepage-font-color
}

.show-more:hover {
  cursor: pointer;
}

.project-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 0.6rem;
  border-top: $homepage-font-color solid 0.01em;
  padding-top: 10px;
  margin-top: 15px;
  gap: 30px;
}
.project-type-box {
  flex: 1 1 auto;
}
.project-linkbox {
  flex-grow: 0 0 auto;
  margin-top: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.project-linkbox li {
  position: relative;
  list-style: none;
}
.project-linkbox a {
  display: block;
  width: 100%;
  height: 100%;
}

.project-linkbox .svg-icon {
  width: 32px;
  height: 32px;
}

.project-title {
  text-align: left;
  font-family: "IBM Plex Mono";
  font-weight: normal;
  font-size: 1.2rem;
}

.project-type  {
  font-family: "Roboto";
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 6px;
}

/** Blog linkbox stylings */
/** Implement filter buttons here in the future when the list gets too long*/
.blog-link {
  color: $homepage-font-color;
  text-decoration: none;
}

.blog-list {
  list-style: none;
  padding: 0px;
  h1, h2, h3 {
    color: $homepage-accent-color;
    margin: 0px;
    font-size: 1.1em;
  }
}

.blog-post-link {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: $project-card-color;
  box-shadow: 5px 5px 5px 3px rgba(1,1,1,0.3);
}

.blog-post-link:hover {
  transform: scale(1.03);
  transition: 0.15s ease;
}

/** Contact Me */
.social-media-list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  width: 100%;
  gap: clamp(10px, 5vw, 30px);
}

.svg-icon {
  width: clamp(24px, 5vw, 36px);
  height: clamp(24px, 5vw, 36px);
  fill: $homepage-font-color;
  transform-origin: center;
  &:hover {fill:$homepage-accent-color}
}
.social-card hr {
  width: 60%;
  margin: 1.5em auto 0;
}
.social-media-list .svg-icon {
}
.email-link {
  color :$homepage-accent-color;
}

