// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

.homepage-content::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../../../cb.svg");
    background-repeat: repeat-y;
    background-size: clamp(100%, 1200pt, 1200pt);
    opacity: 0.15;
}

.homepage-content {
    position: relative;
    background-color: $homepage-background-color;
}


.homepage-card {
    color: $homepage-font-color;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
    align-items: center;
    h1 {
        position: relative;
        margin: 5px 0px;
    }
    a {
        position: relative;
        color: $homepage-accent-color;
        text-decoration: none;
    }
}

#greeting-card {
    height: 100vh;
}

ul {
    position: relative;
    margin: 5px 0px;
    padding-left: 20px;
}

p {
    line-height: 1.25;
}

.info-container {
    max-width: 600px;
    font-size: clamp(9pt, 2vw, 12pt);
}
.first {
    margin: 5px 0px;
}
.next {
    text-indent: 30px;
}

#projects-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 450px;
}

#projects {
    text-align: center;
}

#nextButton {
    position: absolute;
    left: 0;
}

#prevButton {
    position: absolute;
    right: 0;
}

#projects-container {
    position: relative;
    max-width: 600px;
}

.carousel-box {
    display: flex;
    justify-content: center;
    top: 25px;
    height: 500px;
    width: 100%;
}

.project-card {
    transform-origin: top left;
    height: 330px;
    width: 330px;
    min-width: 330px;
    margin: 0px 5px;
    background-color: $project-card-color;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px 3px rgba(1,1,1,0.3);
    a {
        position: absolute;
        height: 20px;
        width: 20px;
        bottom: 20px;
        right: 20px;
        display: block;
    }
}


.project-title {
    font-size: 12pt;
    margin: 5pt 0pt;
}

.project-type {
    font-size: 10pt;
}
