// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.homepage-content{
    display: flex;
    margin: 0px;
}

//sidebar setup
.sidebar {
  color: #a5cbd7;
  flex: 1;
  text-align: right;
  font-size: 16pt;
  background-color: #1e3840;
  height: 60vh;
  border-color: #1e3840;
  border-left-style: solid;
  min-width: 150px;
  max-width: 200px;
}

.home-navigation-box{
    position: relative;
    margin: 40px;
    top: 60px;
    //-webkit-transform: translateY(-30%);
    //-ms-transform: translateY(-30%);
    //transform: translateY(-30%);
}

.home-navigation-page{
    color: #a5cbd7;
    position: relative;
    margin: 10px;
}

.home-page-link:hover{
    color: white;
    transition: 0.25s;
}

.home-navigation-page:hover{
    color: white;
    transition: 0.25s;
}

.home-navigation-dropdown{
    position: relative;
    margin: 0px 10px;
}

.home-navigation-dropdown-content{
    visibility: hidden;
    position: relative;
    opacity: 0%;
    max-height: 0px;
    z-index: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.05s;
}

.home-navigation-dropdown:hover{
    color: white;
    .home-navigation-dropdown-content {
        color: #a5cbd7;;
        font-size: 12pt;
        visibility: visible;
        max-height: 300px;
        opacity: 100%;
        transition: max-height 0.5s ease, opacity 0.75s ease;
        transition-delay: 0.35s;
    }
}

.home-navigation-subdropdown{
    position: relative;
    margin: 10px;
}

.home-navigation-subdropdown-content{
    visibility: hidden;
    position: relative;
    opacity: 0%;
    max-height: 0px;
    z-index: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.95s;
}

.home-navigation-subdropdown:hover{
    color: white;
    .home-navigation-subdropdown-content {
        color: white;
        font-size: 10pt;
        visibility: visible;
        max-height: 300px;
        opacity: 100%;
        transition: max-height 0.5s ease, opacity 0.75s ease;
        transition-delay: 0.5s;
    }
}

.home-navigation-label{
    color: #a5cbd7;
}

// homepage setup
.front-page-container {
    flex: 1;
    background-color: #1e3840;
    height: 60vh;
}

.front-page-content{
    margin: 125px 20px;
}

.page-title{
    color: #a5cbd7;
    text-align: center;
    font-size: 60pt;
    margin: 10px;
    font-weight: bold;
}

.main-blurb{
    color: white;
    max-width: 600px;
    font-size: 22px;
    margin: auto;
    text-align: center;
}

.lower-page-container{
    position: relative;

}

.lower-page-flex-container{
    display:flex;
    background-color: #1e3840;
    height: 30vh;


}

.blurb-box{
    margin-left: auto;
    margin-right: auto;
    width: 300px;

}

.blurb-title-box{
    border-bottom-style: solid;
    height: 40px;
    border-color: white;

}

.blurb-title{
    font-size: 16pt;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.blurb-content-box{
    margin-top: 10px;
}

.blurb-content{
    color: white;

}


.research-papers-box{
    background-color: #1e3840;
    color: white;
    height: 300px;
}

.research-papers-box-title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
}
