// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20%;
  height: 100%;
  box-shadow: -50px;
  padding: $spacing-unit 0;
  background-color: black;
}

.home-navigation-box{
    margin: 5px;
    background-color: blue;
}

.home-navigation-page{
    margin: 5px;
    background-color: white;
}

.home-navigation-dropdown{
    margin: 5px;
    background-color: white;
}

.home-navigation-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.home-navigation-dropdown:hover .home-navigation-dropdown-content {
  display: block;
}
