// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.sidebar {
  color: #ddd;
  font-size: 18pt;
  position: relative;
  margin-right: 0px;
  margin-left: auto;
  right: 0px;
  max-width:400px;
  height: 600px;
  box-shadow: -50px;
  padding: $spacing-unit 0;
  background-color: #1c5891;
}

.home-navigation-box{
    position: relative;
    margin: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #1c5891;
}

.home-navigation-page{
    margin: 10px;
    font-size:18pt;
}

.home-navigation-page:hover{
    color: red;
    transition: 0.25s;
}

.home-navigation-dropdown{
    position: relative;
    font-size:18pt;
    margin: 10px;
}

.home-navigation-dropdown-content{
    visibility: hidden;
    position: relative;
    opacity: 0%;
    max-height: 0px;
    z-index: 1;
    transition: max-height 0.5s ease, opacity 0.75s ease;
}

.home-navigation-dropdown:hover{
    color: red;
    .home-navigation-dropdown-content {
        color: #ddd;
        font-size: 15pt;
        visibility: visible;
        max-height: 300px;
        opacity: 100%;
        transition: max-height 0.5s ease, opacity 0.75s ease;
    }
}
