---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="blog-content">
      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        {%- if page.subtitle -%}
            <h2 class="post-subtitle"> {{page.subtitle | escape }} </h2>
        {%- endif -%}
        <ul class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
          {%- if page.author -%}
            {% for author in page.author %}
              <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                Author: <span class="p-author h-card" itemprop="name">{{ author }}</span></li>
                {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
          {%- endif -%}
          <li>Completed {{ page.completed | date_format }}</li>
          <li>Bibliography Annotation Date: {{ page.date | date: date_format }} </li>
        </ul>
      </header>
      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>
</article>
