<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include research-header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="toc-box">
            <div class="toc-wrapper">
                <div class="toc">
                    <h1 class="toc-header">contents</h1>
                    {%- include SSPI-research-toc.html -%}
                </div>
            </div>
        </div>
        <div class="article-wrapper">
            <div class="article-content">
                {%- include SSPI-research-article.html -%}
                {{ content }}
            </div>
        </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
